<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.dungeon.atrild"
    android:versionCode="1"
    android:versionName="1.0" 
    >

    <!-- Works only if signed with build keys ?
    coreApp="true"
    android:sharedUserId="android.uid.phone"
    -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fi.dungeon.atrild.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fi.dungeon.atrild.PrefsActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <!--  Service is not used. Run Main class instead
        <service android:name="fi.dungeon.atrild.RILDService" >
        </service>

        <receiver android:name="fi.dungeon.atrild.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        -->
    </application>

</manifest>